// var jade = require('jade');
// var fn = jade.compile(jadeTemplate);

doctype html
html(lang="en")
  head
    title= Dates
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/jquery-2.1.1.js")
    script(src="/javascripts/dates.js")

  body
    h1 Welcome to Jade
      p. 
        jade if it works
      button(class = "btn", data-action="bea").
        Be Awesome
